.ui-slider {
    background: blue;
}
.ui-slider-range {
    background: limegreen;
}

#YourDiv0 {
    float: right;
    height: 100%;
    background: orange;
    border-radius: 0 4px 4px 0;
}

#YourDiv1 {
    float: right;
    height: 100%;
    background: orange;
    border-radius: 0 4px 4px 0;
}

#YourDiv2 {
    float: right;
    height: 100%;
    background: orange;
    border-radius: 0 4px 4px 0;
}

#YourDiv3 {
    float: right;
    height: 100%;
    background: orange;
    border-radius: 0 4px 4px 0;
}

#YourDiv4 {
    float: right;
    height: 100%;
    background: orange;
    border-radius: 0 4px 4px 0;
}

#YourDiv5 {
    float: right;
    height: 100%;
    background: orange;
    border-radius: 0 4px 4px 0;
}


 h4 {
     background: lightblue; /* Цвет фона под заголовком */
     color: black; /* Цвет текста */
     padding: 2px; /* Поля вокруг текста */
 }