#panel {
    display: none;
}
#amountOfTripTimeBlock {
    display: none;
}
#buttonAddressOrigin{
    display:none;
}
#buttonAddressOriginDelete{
    display:none;
}
#amountOfCarsBlock{
    display:none;
}