/* author Sharaban Sasha */
body {
    /* Путь к изображению относительно данного файла */
    background-image: url(../../img/success.jpg);

    /* Центрирование изображения по вертикали и горизонтали всегда */
    background-position: center center;

    /* Запрещаем повтор изображения */
    background-repeat: no-repeat;

    /* Фиксируем изображение - оно остается на месте при прокрутке окна */
    background-attachment: fixed;

    /* Изображение будет масштабироваться в зависимости от размеров контейнера */
    background-size: cover;

    /* Цвет фона изображения, который будет показываться пока изображение не загрузится */
    background-color:#464646;

    /* Эквивалентная сокращенная запись
    * background: url(background-photo.jpg) center center cover no-repeat fixed;
    */
}