/* author Sharaban Sasha */
body {
    /* Path ot image*/
    background-image: url(../img/success.jpg);

    /*Picture vertical and horizontal always centered*/
    background-position: center center;

    /* Prohibit repeated image*/
    background-repeat: no-repeat;

    /* Fix an image - it stays in place as you scroll through the window*/
    background-attachment: fixed;

    /* The image will be scaled according to the size of the container */
    background-size: cover;

    /* The background color of the image that will be shown until the image is loaded */
    background-color:#464646;
}