#chartdiv {
    width		: 100%;
    height		: 450px;
    font-size	: 11px;
}

#serviceProfit {
    /*width: 400px;*/
}

p{
    font: 12pt sans-serif;
}

#createCar{
    width: 400px;
    margin: auto;
    background-color: #f8f8f8;
}
#cont{
    background-color: #f8f8f8;
}
