#chartdiv {
    width		: 100%;
    height		: 450px;
    font-size	: 11px;
}

#serviceProfit {
    /*width: 400px;*/
}

p{
    font: 25pt sans-serif;
    margin: 0 75px;
}

#createCar{
    width: 400px;
    margin: auto;
    background-color: #f8f8f8;
}
#createDriver{
    width: 400px;
    margin: auto;
    background-color: #f8f8f8;
}
#updateItCar{
    width: 400px;
    margin: auto;
    background-color: #f8f8f8;
}

#updateItDriver{
    width: 400px;
    margin: auto;
    background-color: #f8f8f8;
}

#titleFrom{
    font:  25pt sans-serif;
    margin: auto;
    color: #002a80;
}

#cont{
    background-color: #f8f8f8;
}
